<div class="flex flex-col items-center gap-5 h-1/2 w-2/5 rounded-xl bg-gray-900 justify-center">
  <div >
    <%# <button class="bg-yellow-700 p-3 text-l text-white rounded-xl">
      Create new game
    </button> %>
    <%= link_to 'Create new game', create_path, class: "bg-yellow-700 p-3 text-l text-white rounded-xl" %>
  </div>
  <div class="h-[1px] w-full bg-sky-400"></div>
  <%= form_with url: join_path, method: :get, local: true do %>
    <div class="flex justify-center gap-2">
      <%= text_field_tag :roomID, nil, class: "bg-black text-white w-3/5", placeholder: "Enter the join code" %>
      <%= submit_tag 'Join', class: "bg-green-800 rounded-full px-4 text-white" %>
    </div>
  <% end %>
    <div style="color: red;">
      <%= flash[:error] %>
    </div>
  
</div>